{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/login.css?m={{device_info.device_type}}">
<style>
    .IN016 {
        min-height: 76vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-contaoner.boc {
        text-align: center;
        max-width: 360px;
        margin: 0 auto;
        font-size: 80%;
    }

    .border {
        height: 1px;
        background: var(--border);
        margin: 0 10px;
        width: auto;
        flex: 1;
    }

    .xt0025 {
        margin-top: 16px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .xt0025 input {
        height: 40px;
    }


    .xt0025 svg {
        width: 100px;
        height: 100px;
    }

    .xt0026 {
        margin-top: 40px;
        height: 30px;
        display: flex;
        background: var(--bg-soft);
        align-items: center;
        justify-content: center;
        border-top: solid 0.5px var(--border);
    }

    .xt0020 {
        width: 98%;
    }
</style>
{% endblock %}
{% block body %}
<div class="xt0024">
    {%if response.message %}<p class="b_message">{{response.message | safe}}</p>{%endif%}
    <div class="form-contaoner boc">
        <div class="xt0025">
            <svg aria-label="Trouble logging in?" fill="currentColor" height="96" role="img" viewBox="0 0 96 96"
                width="96">
                <title>Trouble logging in?</title>
                <circle cx="48" cy="48" fill="none" r="47" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></circle>
                <path
                    d="M60.931 70.001H35.065a5.036 5.036 0 0 1-5.068-5.004V46.005A5.036 5.036 0 0 1 35.065 41H60.93a5.035 5.035 0 0 1 5.066 5.004v18.992A5.035 5.035 0 0 1 60.93 70ZM37.999 39.996v-6.998a10 10 0 0 1 20 0v6.998"
                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                </path>
            </svg>
        </div>
        <div class="xt0025">
            <h2 dir="auto">
                <div aria-level="1" role="heading">Trouble logging in?</div>
            </h2>
        </div>
        <div class="xt0025">
            <span dir="auto" class="xt0023">Enter your email, phone, or username and we'll send you a link to get back
                into your account.</span>
        </div>
        <div class="xt0025">
            <form class="fg-form" method="post">
                <label for="f70403">
                    <input id="f70403" placeholder="Email, Phone, or Username" spellcheck="true" type="text"
                        name="identifier">
                    <span class="hidden">Email, Phone, or Username</span>
                </label>
            </form>
        </div>
        <div class="xt0025">
            <div aria-disabled="true" role="button" jsname="sendLoginLink" class="button xt0020">
                <span class="center width">Send login link</span>
            </div>
        </div>
        <div class="xt0025">
            <a href="/help/accounts/account_recovery" role="link" tabindex="0">
                <span dir="auto">Can't reset your password?</span>
            </a>
        </div>
        <div class="DIS01 xt0025">
            <span class="border"></span>
            <span>or</span>
            <span class="border"></span>
        </div>
        <div class="xt0025"><a href="/ut/accounts/signup" role="link" tabindex="0">Create new account</a></div>
        <div class="xt0026"><a href="/ut/accounts/login" role="link" tabindex="0">Back to login</a></div>
    </div>
</div>

<script type="text/javascript">
    !(function (a, f, b, s, g) {
        "use strict"; var u, t = m => $.message(m, 6000);
        a.add(function sendLoginLink() {
            u = f.find("[name='identifier']")?.value;
            if (s[u]) return t(s[u]);
            return u && !b.disabled && g.action(new FormData(f));
        });
        g.action = d => ((b.loader(!0)), g.send(d));
        g.finish = r => {
            b.loader(!1);
            const m = r.data?.message;
            !r.success && u && (s[u] = m); t(m);
        };
        f.event.submit(e => (event.preventDefault(), a.sendLoginLink(event)))
    })($.module.list, $("fg-form"), $("xt0020"), {}, $.apirequest("/account/auth/reset"));
</script>
{% endblock %}