{% extends "admin/base.html" %}

{% block head %}
{% endblock %}


{% block leftSide %}
<a href="/admin/content/insert" class="button">Add New</a>
{% endblock %}

{% block body %}

{{index_header | safe}}

{% if data_querys %}
<div id="article" class="content-query striped">
    <table>
        <thead>
            <tr>
                <th class="manage-column check-column">
                    <label class="screen-F0019" for="cb-select-all">Select all</label>
                    <input id="cb-select-all" type="checkbox">
                </th>
                <th class="manage-column column-title"><a href="" class="query-title">Title</a></th>
                <th class="manage-column column-parameter">Parameter</th>
                <th class="manage-column column-category">Subject</th>
                <th class="manage-column column-category">Categories</th>
                <th class="manage-column column-tags">Tags Count</th>
                <th class="manage-column column-comment">Comment</th>
                <th class="manage-column column-views">Views</th>
                <th class="manage-column column-date">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for content in data_querys %}
            <tr class="{{'_isfalse' if content.status == 'Draft' else '_istrue' }}">
                <th class="manage-column check-column">
                    <div class="hidden query-{{content.id}}" style="display: none;">
                        <div id="{{content.id}}" class="quick-editesDIS00width">
                            <div class="input-box">
                                <input type="text" name="title" value="{{content.title}}">
                                <label for="title">Article Title</label>
                            </div>
                            <div class="input-box">
                                <input type="text" name="slug" value="{{content.slug}}">
                                <label for="slug">Article Slug</label>
                            </div>
                        </div>
                    </div>
                    <textarea style="display: none;" class="query-data hidden">{{content}} </textarea>
                    <label class="screen-F0019" for="cb-select">Select all</label>
                    <input id="cb-select" type="checkbox">
                </th>
                <th class="manage-column column-title">
                    <strong><a href="/admin/content/update?item={{content.id}}&qas={{content.slug}}"
                            class="query-title">{{content.title}}</a></strong>
                    <div class="row-actions">
                        <span class="edit"><a
                                href="/admin/content/update?item={{content.id}}&qas={{content.slug}}">Edit</a> | </span>
                        <span class="inline"><a type="button" class="button-link editinline" aria_data="{{content.id}}"
                                aria-expanded="false" href="javascript:void(0)">Quick Edit</a> | </span>
                        {%if content.status == 'Draft' %}<span class="publish"><a
                                href="/admin/content/delete?item={{content.id}}&action=publish&qas={{content.slug}}"
                                class="submitdelete">Publish</a> | </span>{%endif%}
                        <span class="trash"><a
                                href="/admin/content/delete?item={{content.id}}&action={{'delete' if content.status == 'Draft' else 'trash' }}&qas={{content.slug}}"
                                class="submitdelete">{{'Delete' if content.status == 'Draft' else 'Bin' }}</a> | </span>
                        <span class="view"><a href="{{content.uri}}" rel="bookmark" target="_blank">View</a></span>
                    </div>
                </th>
                <th class="manage-column column-parameter">{{content.parameters.name}}</th>
                <th class="manage-column column-subject"> {{content.subject.name or "Default"}}</th>
                <th class="manage-column column-category">
                    <a href="javascript:void(0)" class="sowing-data" title="category" jsname="shodetails"
                        aria-label="{{ content.category | map(attribute='name') | join(',') }}">{{ content.category |
                        length }}</a>
                </th>
                <th class="manage-column column-tags">
                    <a href="javascript:void(0)" class="sowing-data" title="tags" jsname="shodetails"
                        aria-label="{{ content.tags | map(attribute='tag') | join(',') }}">{{ content.tags | length
                        }}</a>
                </th>
                <th class="manage-column column-comment">{{content.comment}}</th>
                <th class="manage-column column-views">{{content.views}}</th>
                <th class="manage-column column-date">{{content.update_timestamp}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- <div class='paginator' id='paginator'>{%for insex in paginator%}
        <a class='button {{insex.clas}}' href='{{insex.slug}}' title='Page {{insex.name}}'>{{insex.name}}</a>{%endfor%}
    </div> -->
    <input class="query" type="hidden" name="query" value="{{app_context.data_querys}}">
</div>
{% endif %}
{% endblock %}