{% extends "base.html" %}

{% block head %}
<style>
    .container{
        max-width: 400px;
        height: auto;
        margin: 28vh  auto;
        text-align: center;
    }
    .container h1{
        font-size: 86px;
        font-family: Arya;
    }
</style>
{% endblock %}


{% block body %}
<div class="container">
    <h1> {{response.status_code or 404}}</h1>
    <h2> Oops! Something bad happened! </h2>
    <p> We apologize for any inconvenience, but an unexpected error occurred while you were browsing our site. </p>
</div>
{% endblock %}