{% extends "base.html" %}
{% block body %}

{% if device_info.device_type == "desktop" %}
<style>
    .IN038 {
        background: transparent;
        border-bottom: none
    }
</style>
<div class='IN016 IN017'>
    <div class='IN018 clear'>
        <div class='IN019'>
            <h1 class='hidden'>Learn to online - The MyApplication</h1>
            <h2 class='title'>{{function.utc('Welcome to MyApplication')}}</h2>
            <p class='desc'>{{function.utc('MyApplication 2023 was launched by Ws team with a dream to present
                every answer related to social, historical, education and religious in Hindi language. The main goal of
                starting this blog is to create an active community of students so that they can study every aspect of
                education in a better way.')}}</p>
            <div class='buttons'>
                <a class='button' href='#' onclick='$.coming_soon(this)'>{{function.utc("Free
                    Courses")}}</a>
                <a class='button button-secondary' href='#' onclick='$.coming_soon(this)'>{{function.utc('Explore
                    Blog')}}</a>
            </div>
        </div>
        <div class='IN020'>
            <div class='IN021' style='background-image:url(/media/img/concentration.png)'>
            </div>
        </div>
    </div>
</div>
<div class='session'>
    <div class='clear IN022'>
        <!-- <div class="title">Recommended {{function.utc("Courses")}}</div> -->
        <h2 class='title center IN014'>{{function.utc("Topics")}}</h2>
        <div class='IN0104'>{%for insex in response.category %}
            <div class='list boc button' onclick="$.onlink(this,'learning-link')">
                <div class='IN0105'>
                    <div class='logo'><img width="60" height="60" alt='{{insex.name}}' src='{{insex.img}}'
                            loading="lazy" /></div>
                    <div class='meta'>
                        <div class='title'>{{insex.name}}</div>
                        <a class='learning-link' href='{{insex.url}}'>{{function.utc('Start
                            Learning')}}!</a>
                    </div>
                </div>
            </div>{% endfor %}
        </div>
    </div>
</div>
<!--#ADS-->
<div class='adscontainer clear'>
    <div class='ads_container'><ins class='adsbywseditor' style='display:inline-block;width: auto;height:auto'></ins>
    </div>
</div>
<div class='IN016'>
    <main class='container'>
        <!-- index Session -->
        <div class='index section' id='IN097 '>
            <h2 class='IN023 IN014'>{{function.utc("Latest Additions")}}</h2>
            <div class='IN0104 IN024 '>{%for article in response.articles %}
                <div class='IN025 boc'>
                    <!-- <a class='image relative' href='{{article.url}}?action=image'>
                        <img class="hiddens"  src="/img/{{article.hasTitle}}?size=320x200" loading="lazy" alt="Image">
                    </a> -->
                    <div class='meta'>
                        <a href='{{article.url}}?action=title' page-id='{{article.id}}' title='{{article.title}}'>
                            <h2 class='article-title arya home'>{{article.title}}</h2>
                        </a>
                        <div class='IN026'>
                            <div class='article-info'>
                                <span class='left-side DIS01'><span class='article-date'
                                        datetime='{{article.timestamp}}'>{{article.date}}</span></span>
                            </div>
                        </div>
                        <p class='post-snippet vesper-libre'>{{article.excerpt[0:150] | safe}}...</p>
                        <a class='read-more hidden button' href='{{article.url}}?action=link' page-id='{{article.id}}'
                            title='{{article.title}}'>Read More</a>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class='paginator' id='paginator'>{%for insex in response.paginator or []%}
                <a class='button {{insex.clas}}' href='{{insex.slug}}'
                    title='Page {{insex.name}}'>{{insex.name}}</a>{%endfor%}
            </div>
        </div>
    </main>
</div>
<div class='adscontainer clear'>
    <div class='ads_container'>
        <ins class='adsbywseditor' style='display:inline-block;width: auto;height:auto'></ins>
    </div>
</div>

{% else %}{% include "index.mobile.html" %}{% endif %}
{% endblock %}