<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        .container{
            max-width: 400px;
            height: auto;
            margin: 28vh auto;
            text-align: center;
        }

        .containerh1 {
            font-size: 86px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>404</h1>
        <h2>Oops! Something bad happened! </h2>
        <p> We apologize for any inconvenience, but an unexpected error occurred while you were browsing our site. </p>
    </div>
</body>

</html>